@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Roboto Mono', monospace;*/
*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 249, 249);
    margin: 0;
    font-family: 'Roboto mono', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: grid;
    height: 500px;
    width: 500px;
    background-color: #f2f2f2;
}

.grid-element{
    transition: .2s ease-in;
}

.controller{
    background-color: teal;
    border: 3px rgb(4, 40, 40) solid;
    width: 500px;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
button{
    margin: .7em;
    padding: 1em;
    background-color: wheat;
    font-weight: bold;
}

button#clr{
    background-color: rgb(204, 77, 30);
    color: white;
}